:root {
  --bg: #ffc0cb;
  --pink-light: #ffb7c5;
  --pink-soft: #f7cac9;
  --pink-lavender: #d8b2d1;
  --pink-baby: #fadadd;
  --gray-soft: #aaaaaa;
  --white: #ffffff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 1.5rem;
  background-color: var(--bg);
  text-align: center;
  color: black;
  font-size: 16px;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
}

h2 {
  font-size: 1.4rem;
  display: inline;
}

.main {
  max-width: 1000px;
  margin: auto;
}

.input {
  border-radius: 10%;
  width: 100px;
  background-color: var(--pink-light);
  font-weight: bold;
  text-align: center;
  max-width: 200px;
  color: black;
}

.input::placeholder {
  color: var(--gray-soft);
  font-size: 0.65rem;
  font-weight: normal;
}

.jegySzazalek {
  margin-top: 1rem;
}

#changeColor {
  padding: 0;
  background: none;
  border: 0;
  font-size: 4rem;
}

#ertekeles {
  border: 2px solid white;
  background-color: var(--pink-lavender);
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.4rem;
  padding: 10px;
  margin: 20px;
  color: var(--white);
  border-radius: 30%;
}

#ertekeles:hover {
  background-color: var(--gray-soft);
}

#valasz {
  font-weight: bold;
  color: black;
  font-size: 1.4rem;
  text-align: center;
}

#brek {
  height: 50px;
}

#instagram {
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--gray-soft);
  text-decoration: none;
  animation: instagram 5s infinite;
}

@keyframes instagram {
  0% {
    color: var(--gray-soft);
  }
  50% {
    color: var(--white);
  }
  100% {
    color: var(--gray-soft);
  }
}

#instagram:hover {
  color: var(--white);
}
